.page  {
  padding: 20px;
}

select {
  font-size: 30px;
}
.top-bar ul {
  font-size: 20px;
}

.name {
  font-size: 50px;
}

.logos {
  float: left;
  height: 250px;
  width: 300px;
  text-align: center;
  margin: 20px;
}

.logo_image {
  width: 60%;
  height: 50%;
  margin-bottom: 10px;
}

.endorse {
  margin-top: 10px;
}

.user_picture {
  height: 300px;
  width: 250px;
}

.user_endorsement_logo {
  float: left;
  height: 200px;
  width: 180px;
  text-align: center;
  margin: 20px;
  margin-left: 0;

}
